In [2]:
import pandas as pd
import numpy as np
#63 compute grouped mean and keep the grouped column as another column
df = pd.DataFrame({'fruit':['apple','banana','orange']*3,
                   'taste':np.random.rand(9),
                   'price':np.random.randint(0,15,9)})
print(df)
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     taste  price
0   apple  0.385735      9
1  banana  0.651526      5
2  orange  0.864471     10
3   apple  0.704439      4
4  banana  0.834656      4
5  orange  0.994592     12
6   apple  0.038610     13
7  banana  0.947032      6
8  orange  0.749715     13
    fruit      price
0   apple   8.666667
1  banana   5.000000
2  orange  11.666667

In [4]:
#64 join two dataframes by 2 columns so they have only the common rows
df1 = pd.DataFrame({'fruit':['apple','banana','orange']*3,
                    'weight':['high','medium','low']*3,
                    'price':np.random.randint(0,15,9)})
print(df1)
df2 = pd.DataFrame({'pazham':['apple','orange','pine']*2,
                    'kilo':['high','low']*3,
                    'price':np.random.randint(0,15,6)})
print(df2)

    fruit  weight  price
0   apple    high      7
1  banana  medium      6
2  orange     low     14
3   apple    high     11
4  banana  medium     14
5  orange     low      2
6   apple    high     14
7  banana  medium      1
8  orange     low      8
   pazham  kilo  price
0   apple  high      3
1  orange   low      9
2    pine  high      9
3   apple   low      3
4  orange  high      5
5    pine   low     10

In [6]:
pd.merge(df1,df2,how='inner', left_on=['fruit','weight'], right_on=['pazham','kilo'], suffixes=['_left','_right'])

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high           7   apple  high            3
1   apple   high          11   apple  high            3
2   apple   high          14   apple  high            3
3  orange    low          14  orange   low            9
4  orange    low           2  orange   low            9
5  orange    low           8  orange   low            9

In [7]:
#65 remove rows from a dataframe that are present in another dataframe
df1 = pd.DataFrame({'fruit':['apple','banana','orange']*3,
                    'weight':['high','medium','low']*3,
                    'price':np.random.randint(0,15,9)})

df2 = pd.DataFrame({'fruit':['apple','orange','pine']*2,
                    'weight':['high','low']*3,
                    'price':np.random.randint(0,15,6)})
print(df1[~df1.isin(df2).all(1)])

    fruit  weight  price
0   apple    high      1
1  banana  medium      0
2  orange     low      1
3   apple    high      0
4  banana  medium      6
5  orange     low     12
6   apple    high      5
7  banana  medium     10
8  orange     low      3

In [8]:
#66 get the positions where values of two columns match
df = pd.DataFrame({'fruit1':np.random.choice(['apple','orange','banana'],10),
                   'fruit2':np.random.choice(['apple','orange','banana'],10)})
np.where(df.fruit1 == df.fruit2)

(array([0, 2, 8], dtype=int64),)

In [10]:
#67 create lags and leads of a column in a dataframe
df = pd.DataFrame(np.random.randint(1,100,20).reshape(-1,4), columns=list('abcd'))
print(df)
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d
0  60  77  89  31
1  78   5  51   5
2  83  18  98  17
3   3  15  27  92
4  33  67   3   5
    a   b   c   d  a_lag1  b_lead1
0  60  77  89  31     NaN      5.0
1  78   5  51   5    60.0     18.0
2  83  18  98  17    78.0     15.0
3   3  15  27  92    83.0     67.0
4  33  67   3   5     3.0      NaN

In [11]:
#68 get the frequency of unique values in the entire dataframe
df = pd.DataFrame(np.random.randint(1,10,20).reshape(-1,4), columns=list('abcd'))
print(pd.value_counts(df.values.ravel()))

6    4
9    3
5    3
3    3
7    2
2    2
8    1
4    1
1    1
dtype: int64

In [13]:
#69 split a text column into two separate columns 
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])
print(df)
df_new = df.row.str.split(',|\t',expand=True)
new_header = df_new.iloc[0]
df_new =df_new[1:]
df_new.columns = new_header
print(df_new)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka
0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka